@use "../../styles/partials/" as *;

.article {
  margin: 3.6rem;
  width: 60%;

  &__title {
    @include page-header;
    margin-bottom: 1.6rem;
  }

  &__intro {
    margin-bottom: 2.4rem;
  }

  &__table-container {
    border-top: 1px solid $primary-color-highlight;
    width: 90%;
    margin: 0 auto;
    padding: 1.6rem 0;
  }
}
