@use "../../styles/partials/" as *;

.article {
  margin: 3.6rem;
  width: 80%;

  &__title {
    @include page-header;
    font-size: 3.2rem !important;
    margin-bottom: 1.6rem;
  }

  &__intro {
    margin-bottom: 2.4rem;
  }

  &__info-container {
    width: 75%;
  }
}
