// Colors

// Primary colors.
$primary-color-dark: #323232;
$primary-color-brand: #0095ff;
$primary-color-highlight: #afafaf;
$primary-color-light: #ffffff;
$error-color: #d22d2d;

// Secondary colors.
$secondary-color-dark: #000000;
$secondary-color-brand: #0065ad;
$secondary-color-highlight: #e1e1e1;
$secondary-color-light: #fafafa;
