@use "../../styles/partials/" as *;

.table {
  &__wrapper {
    margin-top: 4rem;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
  }

  &__header {
    font-size: 2.3rem;
    &-row {
      display: flex;
    }
    &-wrapper {
      padding: 2rem;
      display: flex;
    }
  }
  &__details {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    padding: 2rem;

    &--1 {
      font-size: 2rem;
      font-weight: 600;
      width: 20%;
      background-color: #fafafa;
    }
    &--2 {
      width: 30%;
      font-weight: 400;
    }
    &--3 {
      width: 50%;
      background-color: #fafafa;
      font-weight: 400;
    }
  }
  &__list {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 1rem;
  }
  &__list:hover {
    font-weight: 600;
    color: black;
  }
  &__row-body {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
  }
}
